body {
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://ae01.alicdn.com/kf/HTB1_XykeCrqK1RjSZK9q6xyypXaA/beibehang-3d-wallpaper-wall-burger-fast-food-restaurant-wallpaper-home-decor-wall-papers-home-decor-wallpaper.jpg_960x960.jpg')
    center center;
    background-size: cover;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.add {
  text-align: center;
}

#title {
  text-align: center;
}

.devoured {
  text-align: center;
}

img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .create-form {
    text-align: center;
  }
  .change-devour {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
  }
  .delete-burger {
  background-color: #f44336;
  border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
  }